<!DOCTYPE html>
<html lang="en">
	<head>E-Learning</head> 
	<body>
		<h2>Welcome to E-Learning</h2>
		 <form method="post" action="/signin">
		   <% if(typeof(errorMessage) !== 'undefined') {%>
            	<span><%= errorMessage %></span>
         	<% } %>
		<p>
            <label for="email">email</label>
            <input type="text" name="email" id="email"
               placeholder="email" required="true"/>
         </p>
         <p>
            <label for="password">password</label>
            <input type="text" name="password" id="password"
               placeholder="password" required="true"/>
         </p>
         <p>
            <input type="submit" name="signin" id="signin" value="sign in"/> 
            <a href="/signup" title="register">register</a>
         </p>
		</form>
	</body> 
</html>
